@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

header {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  background-color: #068c5b;
  position: sticky;
  top: 0;
  z-index: 99;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #fff;
}

nav {
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  font-size: 2rem;
  font-style: italic;
}

.h__right a {
  margin-right: .5rem;
}